In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
items.tail(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [6]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [7]:
#read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [8]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [9]:
# check
ratings[ratings['user_id']==196][['movie_id','rating']]

       movie_id  rating
0           242       3
940         393       4
1133        381       4
1812        251       3
1896        655       5
2374         67       5
6910        306       4
7517        238       4
7842        663       5
10017       111       4
10254       580       2
10981        25       4
13733       286       5
14606        94       3
16834       692       5
17102         8       5
17830       428       4
18853      1118       4
21605        70       3
22271        66       3
22773       257       2
23189       108       4
24030       202       3
25726       340       3
32721       287       3
33536       116       3
35197       382       4
36281       285       5
41539      1241       3
42384      1007       4
50147       411       4
52726       153       5
56628        13       2
59165       762       3
59607       173       2
60199      1022       4
60706       845       4
78787       269       3
87863       110       1

In [10]:
# Create Pivot Table  which will act as user vector
data_m=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [11]:
#Replace with nan with 0
data_matrix=data_m.replace(np.nan,0)

In [12]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# User Vector
user_vector=data_matrix.T

In [14]:
user_vector

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
2,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Create movie Vector
movie_vec=items[['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [16]:
movie_vector=movie_vec.T

In [17]:
movie_vec

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

# Flow Check
# Create the content vector(User vector and Item vector)

In [18]:
# check for user1
u1=ratings[ratings['user_id']==1][['movie_id','rating']]

In [19]:
u1

       movie_id  rating
202          61       4
305         189       3
333          33       4
334         160       4
478          20       4
...         ...     ...
92049        28       4
92487       172       5
94019       122       3
96699       152       5
99073        94       2

[272 rows x 2 columns]

In [20]:
# Create the content list for user based on movie_vector
u1_list=[]
for i in u1['movie_id']:
    f=movie_vector[i].values
    u1_list.append(f)

In [21]:
# Converting the DataFrame to dataframe
uu1=pd.DataFrame(u1_list,columns=range(1,19))

In [22]:
uu1

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0     1   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
1     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   1   0
2     0   0   0   0   1   0   0   1   0   0   0   0   0   0   0   0   0   0
3     1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
4     1   1   0   0   1   0   0   0   0   0   0   1   0   0   0   1   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
267   1   1   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0
268   1   1   0   0   1   0   0   0   0   0   0   0   0   1   0   0   0   0
269   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0   0
270   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
271   0   0   1   1   1   0   0   0   0   0   0   1   0   0   0   0   0   0

[272 rows x 18 columns]

In [23]:
# Create single vector for one user by summing the each genre column
vec=[]
for j in range(1,19):
    g=sum(uu1[j])
    vec.append(g/272)

In [24]:
# single user 
vec

[0.27941176470588236,
 0.15441176470588236,
 0.04044117647058824,
 0.08823529411764706,
 0.33088235294117646,
 0.09558823529411764,
 0.01838235294117647,
 0.39338235294117646,
 0.007352941176470588,
 0.003676470588235294,
 0.04779411764705882,
 0.04779411764705882,
 0.01838235294117647,
 0.16176470588235295,
 0.15808823529411764,
 0.1948529411764706,
 0.09191176470588236,
 0.022058823529411766]

In [25]:
# Create a vector list for whole user with to movie vector
vector=[]
for user in range(1,944):
    u1=ratings[ratings['user_id']==user][['movie_id','rating']]  
    u1_list=[]
for i in u1['movie_id']:
    f=movie_vector[i].values
    u1_list.append(f)
        
    uu1=pd.DataFrame(u1_list,columns=range(1,19))
    vec=[]
for j in range(1,19):
    g=sum(uu1[j])
    vec.append(g/len(u1))
    vector.append(vec)

In [26]:
# function
def user_vector(ratings,movie_vector):
    vector=[]
    for user in range(1,944): # Each user id to create vector
        u1=ratings[ratings['user_id']==user][['movie_id','rating']]  
        u1_list=[]
    for i in u1['movie_id']: # Each user watched movie genre vector
        f=movie_vector[i].values
        u1_list.append(f)
        uu1=pd.DataFrame(u1_list,columns=range(1,19))
        vec=[]
    for j in range(1,19): # Sum up the each genre of the user
        g=sum(uu1[j])
        vec.append(g/len(u1))
        vector.append(vec)
    return vector

In [28]:
vector=user_vector(ratings,movie_vector)

In [29]:
# converting into Dataset
user_vector=pd.DataFrame(vector)

In [30]:
user_vector

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
1,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
2,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
3,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
4,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
5,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
6,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
7,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
8,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
9,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
10,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
11,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
12,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
13,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
14,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
15,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
16,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714
17,0.238095,0.125,0.077381,0.113095,0.357143,0.077381,0.02381,0.345238,0.017857,0.011905,0.083333,0.059524,0.011905,0.178571,0.107143,0.160714,0.065476,0.035714

In [31]:
#Check The shape
user_vector.shape

(18, 18)

In [32]:
#Check The shape
movie_vector.shape

(18, 1682)

In [33]:
# Dot matrix for  user_vector and movie_vetcor
content_vector=np.dot(user_vector,movie_vector)

In [34]:
# Data Frame  for content vector
content_vector=pd.DataFrame(content_vector)

In [35]:
content_vector

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
1,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
2,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
3,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
4,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
5,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
6,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
7,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
8,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
9,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
10,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
11,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
12,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
13,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
14,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
15,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
16,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238
17,0.547619,0.52381,0.160714,0.940476,0.583333,0.345238,0.452381,0.815476,0.345238,0.410714,...,0.39881,0.345238,0.345238,0.345238,0.345238,0.345238,0.339286,0.52381,0.357143,0.345238

In [36]:
# backup
content_vector.to_csv("content_vector.csv",index=False)

# individual check for user

In [37]:
u2=ratings[ratings['user_id']==4]['movie_id'].values

In [38]:
len(u2)

24

In [39]:
val=content_vector[content_vector[4]>(content_vector[4].max()-0.5)][2]

In [40]:
val

0     0.160714
1     0.160714
2     0.160714
3     0.160714
4     0.160714
5     0.160714
6     0.160714
7     0.160714
8     0.160714
9     0.160714
10    0.160714
11    0.160714
12    0.160714
13    0.160714
14    0.160714
15    0.160714
16    0.160714
17    0.160714
Name: 2, dtype: float64

In [41]:
recom=[]
for i in val.index:
    if(i in u2):
        pass
    else:
        recom.append(i)

In [42]:
len(recom)

17

In [43]:
recom

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17]

In [44]:
def content_based(ratings,content_vectors,userid,thresh):
    u2=ratings[ratings['user_id']==userid]['movie_id'].values
    val=content_vectors[content_vectors[userid]>(content_vectors[userid].max()-thresh)][2]
    recom=[]
    for i in val.index:
        if(i in u2):
            pass
        else:
            recom.append(i)
    return recom

In [45]:
content_based(ratings,content_vector,54,0.3)

[0, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]